# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Excel files
*.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc